.single-item-container__nature {
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    color: black;
    font-size: 16px;
}

.single-item-image__nature {
    max-width: 800;
    height: "auto";
}

@media(max-width: 800px) {
    .single-item-title__nature {
        margin: 6px 12px;
    }
    .single-item-description__nature {
        margin: 6px 12px;
    }
}