.modal-form-root-2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay {
  position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.modal-dialog {
  display: flex;
  justify-content: center;
  z-index: 1;
  background-color: #f0f2f5;
  font-size: 22.5px;
}



