button {
    cursor: pointer;
    &:hover {
        background-color: aqua;
    }
}


.dashboard-container {
    background-color: black;
    color: white;
    min-height: 450px;
}

.container-flex-centered {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    padding: 10px 20px;
}

.dashboard-content-wrapper {
    display: flex;
}

.dashboard-sidebar {
    margin: 10px 20px 20px 60px;
    height: 260px;
    padding: 10px;
    width: 300px;
    background-color: #8d9c25;
    border-top: 2px solid red;
    border-radius: 4px;
}

@media(max-width: 1080px) {
    .dashboard-content-wrapper {
        flex-direction: column;
    }

}
