.footer {
    background-color: #807373;
        .footer-contant {
            max-width: 1600px;
            margin: 16px auto 0;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            .footer-logo {
                margin-left: 12px;
                width: 60px;
            }

            .footer-nav {
                color:black;
                margin-right: 26px;
                display: flex;
                align-items: center;
                & ul:hover {
                    padding: 5px 10px;
                    background-color: white;
                }

            } 

            .footer__social-links {
                display: flex;
                align-items: center;
            }
        }
}

.footer__social-link-facebook, 
.footer__social-link-vk, 
.footer__social-link-instagram {
    margin: 5px 20px;
    width: 40px;
    height: 40px;
    &:hover{
        padding: 5px 5px;
        background-color:aqua;
    }
}

@media(max-width: 600px) {
    .footer-logo {
        margin-left: 12px;
        width: 40px !important;
    }

    .footer-nav {
        margin-right: 10px;
    } 

    .footer__social-link-facebook, 
    .footer__social-link-vk, 
    .footer__social-link-instagram {
        margin: 5px 15px;
        width: 25px;
        height: 25px;
    }
}


@media(max-width: 480px) {
    .footer-logo {
        margin-left: 0;
        width: 25px !important;
    }

    .footer-nav {
        margin-right: 6px;
        ul li a {
            font-size: 10px;
        }
    } 

    .footer__social-link-facebook, 
    .footer__social-link-vk, 
    .footer__social-link-instagram {
        margin: 4px 12px;
        width:18px;
        height: 18px;
    }
}

