.modal-contant {
    position: relative;
    width: 411px;
    height: 535px;
    overflow: hidden;
}

.modal-contant-pages {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}


.reg-page {
    background: linear-gradient(to left, #3adbd6, #34a6ef);
    opacity: 1;
    transform: translateX(0%);
    z-index: 1;
}

.modal-contant-pages-closebtn {
    position: absolute;
    top:11px;
    right: 19px;
    cursor: pointer;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.reg-page-form {
    position: relative;
    height: 278px;
    width: 318px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 106px;
    margin-left: 42px;
    .input {
        position: relative;
        input{
                padding-left: 46px;
                font-weight: 400;
                color: black;
                font-size: 24.5px;
                width: 318px;
                height: 50px;
                border-radius: 9px;
                background-color: #D9D9D9;
                border: none;
                &::placeholder {
                    color: black; /* Устанавливаем черный цвет для placeholder */
                }
        }   
    }   

    .reg-page-form-sign-in {
        height: 90px;
        display: flex;
        flex-direction: column;
        .reg-page-form-sign-in-btn {
            font-size: 24.5px; 
            height: 50px;
            border-radius: 9px;
            border: none;
            cursor: pointer;
        }
        span {
            font-size: 24.5px; 
            text-align: center;
        }
    }
}

.modal-contant-pages-signup {
    margin-top: 70px;
    margin-left: 42.5px;
    button {
        font-size: 24.5px; 
        height: 50px;
        width: 318px;
        border-radius: 9px;
        border: none;
        cursor: pointer;
        background-color: #5CB85C;
    }
}

.reg-page-form-user-logo {
    position: absolute;
    top: 6px;
    left: 15px;
}

.reg-page-form-pass-logo {
    position: absolute;
    top: 6px;
    left: 15px;
}


//2sign up
.reg-page-sign-up {
    background:linear-gradient(to left, #3adbd6, #34a6ef);
    opacity: 1;
    transform: translateX(100%);
    z-index: 1;
}

.reg-page-form-name-and-surname {
    height: 50px;
    width: 150px;
    padding-left: 12.5px;
    font-weight: 400;
    color: black;
    font-size: 24.5px;
    border-radius: 9px;
    background-color: #D9D9D9;
    border: none;
    &::placeholder {
        color: black; /* Устанавливаем черный цвет для placeholder */
    }
}


.modal-contant.active .first-form {
    transform: translateX(-100%);
}

.modal-contant.active .second-form {
    transform: translateX(0%);
}
